.btn-primary,
.btn-secondary {
  color: white !important;
}

.btn-link,
a {
  color: $primary;
  text-decoration: none !important;
  &:hover {
    color: $secondary;
  }
}

.btn-wide {
  &.btn-sm {
    padding: 0.75rem 3rem;
  }
}
