.dashboard-top-nav {
  &.navbar {
    z-index: 9;
    box-shadow: none;
    padding-bottom: 3rem;
    background: #f8faff !important;
    border-bottom: 2px solid #f0f0f0;
  }

  .navbar-nav {
    height: 4rem;
    padding: 2rem 0 !important;
  }
  &__avatar {
    height: 3.5rem;
    width: 3.5rem;
    object-fit: cover;
    border-radius: 0.4rem;
    display: inline-block;
    overflow: hidden;
    margin-right: 1rem;
  }

  .dropdown-menu-children {
    margin-left: -3rem !important;
    margin-top: 0.25rem !important;
  }

  .top-nav-dropdown {
    margin-left: 2rem;
  }
}

.card-container {
  padding: 1.5rem 2rem;

  h6 {
    font-size: 0.9rem;
  }
}

.circle {
  padding-left: 1rem;
  position: relative;
  &:before {
    width: 10px;
    height: 10px;
    content: ' ';
    position: absolute;
    border-radius: 50%;
    left: 0;
    top: 8px;
  }
  &-purple:before {
    background: #29266c;
  }
  &-orange:before {
    background: #f79b18;
  }
}

.dashboard.bg-primary {
  padding: 2rem;

  h4,
  p {
    color: white;
    margin-bottom: 0;
  }

  p {
    color: #f9fdff;
    font-size: 1rem;
    font-weight: 300;
    margin-top: 0.5rem;
  }
}

.icon-container svg {
  fill: $primary;
}

.link-header {
  text-transform: uppercase;
  margin-top: 2rem;

  span {
    color: $primary;
    font-weight: $font-weight-bolder;
    font-size: 1rem;
    display: inline-block;
    margin-right: 1rem;
  }

  a {
    color: $secondary;
    font-weight: $font-weight-bold;
    display: inline-block;
    padding-bottom: 0.5rem;
    font-size: 0.7rem;
    margin-right: 1rem;
  }
}

.card-header-tabs {
  border-bottom: 1px solid #e8e8e8;
  color: $gray-700;
  font-weight: bold;
}

.modal-title {
  font-size: 1.5rem;
}
.modal-header {
  .close {
    font-size: 2rem;
    color: $primary;
  }
}
