label {
  color: $primary;
}

.form-label {
  font-size: 0.75rem;
  display: block;
}

.label-radio {
  font-size: 1rem !important;
}

.invalid-feedback {
  display: block;
}

.was-validated .form-control:invalid,
.form-control.is-invalid,
.was-validated .form-control:valid,
.form-control.is-valid {
  background-size: 1.2rem;
}

.optional-form-field {
  float: right;
  font-size: 0.75rem;
  padding-top: 0.25rem;
  color: $text-muted;
}

.form-row .form-group {
  @include media-breakpoint-up(sm) {
    &:first-child {
      padding-right: 1rem;
    }
    &:last-child {
      padding-left: 1rem;
    }
  }
}

.form-help-icon {
  svg {
    stroke: $text-muted;

    &:hover {
      stroke: $secondary;
    }
  }
}
