.upload-button {
  label {
    width: auto;
    display: inline-block;
    max-width: 12rem;
  }
  // hide current file
  input[type='file'] {
    height: 0;
    overflow: hidden;
    width: 0;
  }

  .uploaded-image {
    margin: auto;
    display: block;
  }
}

.avatar {
  &--small {
    height: 2rem;
    width: 2rem;
  }

  &--medium--small {
    height: 3rem;
    width: 3rem;
  }

  &--medium {
    height: 4rem;
    width: 4rem;
  }

  &--large {
    height: 10rem;
    width: 10rem;
  }

  &--small,
  &--medium,
  &--large {
    object-fit: cover;
    background-image: url(./../../img/avatar/profile.png) !important;
    background: transparent !important;
    overflow: hidden;
    display: inline-block;
  }
}

.small-image,
.img-small {
  height: 2rem;
}
