@import 'components/header';
@import 'components/footer';
@import 'components/pages';
@import 'components/dashboard';
@import 'components/invoice';
@import 'components/text';
@import 'components/forms';
@import 'components/toast';
@import 'components/buttons';
@import 'components/map';
@import 'components/a-z';
@import 'components/slick';
@import 'components/search-result';
@import 'components/knowledgebase';
@import 'components/sidebar';
@import 'components/property';
@import 'components/upload-image';
@import 'components/stepper';
@import 'plugins/range';
@import 'plugins/react-date-picker';
@import 'plugins/react-phone-number2';
// @import 'plugins/editor';
// @import 'plugins/slick';

html {
  font-size: 0.8rem;

  @include media-breakpoint-up(sm) {
    font-size: 0.8rem;
  }

  @include media-breakpoint-up(md) {
    font-size: 0.9rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 1rem;
  }
}

.container-fluid {
  @include media-breakpoint-up(lg) {
    padding: 0.5rem 5rem;
  }
}

.react-toast-notifications__container {
  z-index: 2000 !important;
}

.author-block {
  border-top: 3px solid $primary;
  margin-top: 2rem;
  padding-top: 2rem;
}

.dotted-border {
  border-top: 1px dotted $primary;
}

.cursor-pointer {
  cursor: pointer;
}

.signature-pad {
  height: 5rem;
  width: 100%;
  font-family: 'Herr Von Muellerhoff', cursive;
  &.in-dialog {
    padding: 1rem;
    border: 1px solid #f5f5f5;
  }
}

.memo-border {
  color: $primary;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.signature-image {
  height: 5rem;
}

.director-signature {
  width: 11rem;
}

@media print {
  @page {
    size: 210mm 297mm;
    /* Chrome sets own margins, we change these printer settings */
    margin: 21mm 16mm 21mm 16mm;
  }
  .offer-letter-template {
    border: none;
  }
  .hide-print {
    display: none;
  }
}

.toast-icon-holder svg,
.toast-alert-icon-holder.offer-letter-svg svg {
  height: 2rem;
  width: 2rem;
  margin-top: 0.5rem;
}

.offer-letter-accordion {
  .card {
    background: $gray-100 !important;
  }
  .card-header {
    background: transparent !important;
    padding: 1rem 1.5rem;

    h5 {
      font-size: 0.9rem;
      font-weight: normal;
      margin-bottom: 0;
      margin-top: 0.5rem;
    }
  }
}

.react-excel {
  @extend .card;
  margin-top: 1rem;
  margin-bottom: 2rem;

  table {
    @extend .table;
  }
}

.custom-file-label {
  z-index: 0 !important;
}
