@import 'components/header';
@import 'components/footer';
@import 'components/pages';
@import 'components/dashboard';
@import 'components/invoice';
@import 'components/text';
@import 'components/forms';
@import 'components/toast';
@import 'components/buttons';
@import 'components/map';
@import 'components/a-z';
@import 'components/slick';
@import 'components/search-result';
@import 'components/knowledgebase';
@import 'components/sidebar';
@import 'components/property';
@import 'components/user-card';
@import 'components/upload-image';
@import 'components/stepper';
@import 'plugins/range';
@import 'plugins/react-date-picker';
@import 'plugins/react-phone-number2';
// @import 'plugins/editor';
// @import 'plugins/slick';

html {
  font-size: 0.8rem;

  @include media-breakpoint-up(sm) {
    font-size: 0.8rem;
  }

  @include media-breakpoint-up(md) {
    font-size: 0.9rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 1rem;
  }
}

.container-fluid {
  @include media-breakpoint-up(lg) {
    padding: 0.5rem 5rem;
  }
}

.react-toast-notifications__container {
  z-index: 2000 !important;
}

.author-block {
  border-top: 3px solid $primary;
  margin-top: 2rem;
  padding-top: 2rem;
}

.dotted-border {
  border-top: 1px dotted $primary;
}

.cursor-pointer {
  cursor: pointer;
}

.signature-pad {
  height: 5rem;
  width: 100%;
  font-family: 'Herr Von Muellerhoff', cursive;
  &.in-dialog {
    padding: 1rem;
    border: 1px solid #f5f5f5;
  }
}

.memo-border {
  color: $primary;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.signature-image {
  height: 5rem;
}

.director-signature {
  width: 11rem;
}

@media print {
  @page {
    size: 210mm 297mm;
    /* Chrome sets own margins, we change these printer settings */
    margin: 21mm 16mm 21mm 16mm;
  }
  .offer-letter-template {
    border: none;
  }
  .hide-print {
    display: none;
  }
}

.toast-icon-holder svg,
.toast-alert-icon-holder.offer-letter-svg svg {
  height: 2rem;
  width: 2rem;
  // margin-top: 0.5rem;
}

.offer-letter-accordion {
  .card {
    background: $gray-100 !important;
  }
  .card-header {
    background: transparent !important;
    padding: 1rem 1.5rem;

    h5 {
      font-size: 0.9rem;
      font-weight: normal;
      margin-bottom: 0;
      margin-top: 0.5rem;
    }
  }
}

.react-excel {
  @extend .card;
  margin-top: 1rem;
  margin-bottom: 2rem;

  table {
    @extend .table;
  }
}

.custom-file-label {
  z-index: 0 !important;
}

.speech-bubble {
  position: relative;
  background: $gray-300;
  border-radius: 0.4rem;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 0.75rem;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color: $gray-300;
  border-left: 0;
  border-bottom: 0;
  margin-top: -10px;
  margin-left: -20px;
}

.verification-card {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__block {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  @media (min-width: 576px) {
    &__block {
      padding: 1.5rem;
    }
  }

  &__img {
    width: 84px;
    margin-right: 0;
    margin-bottom: 1.5rem;
    flex-shrink: 0;
    text-align: center;
    padding: 0.125rem;

    @media (min-width: 576px) {
      margin-right: 1.5rem;
      margin-bottom: 0;
    }

    svg {
      height: 5rem;
      width: 5rem;
      stroke-width: 0.4;
      fill: #e3e8fe;
      stroke: #6576fe;
    }
  }

  &__title {
    font-size: 1.1rem;
  }

  &__text {
    color: #8094ae;
    font-size: 0.9rem;
  }

  &__action {
    margin-top: auto;
    border-top: 1px solid #e5e9f2;
    position: relative;
    display: block;
    line-height: 1.3;
    padding: 1.25rem 2.5rem;
    white-space: inherit;
    font-size: 0.8rem;
    color: $text-muted;
    svg {
      height: 0.9rem;
      margin-top: -0.2rem;
    }
  }
}

.verification__icon svg {
  height: 1.25rem;
}

.card-progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  .progress-bar {
    width: 0px;
    height: 3px;
    border-radius: 0 3px 3px 3px;
    background-color: $secondary;
  }
}

.resolve-comment-btn {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  color: $success;
}

.timeline {
  color: $text-color;
}

.timeline + .timeline,
.timeline-list + .timeline-head {
  margin-top: 1.75rem;
}

.timeline-head {
  font-size: 1rem;
  color: $text-muted;
  margin-bottom: 1rem;
}

.timeline-item {
  position: relative;
  display: flex;
  align-items: flex-start;
}

.timeline-item {
  padding-bottom: 0.5rem;
}

.timeline-item:before {
  position: absolute;
  height: calc(100% - 11px);
  width: 1px;
  background: #dbdfea;
  content: '';
  top: 13px;
  left: 5px;
}

.timeline-status {
  position: relative;
  height: 11px;
  width: 11px;
  border-radius: 50%;
  flex-shrink: 0;
  margin-top: 2px;
}

.timeline-status.is-outline:after {
  position: absolute;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background: $gray-300;
  content: '';
  top: 2px;
  left: 2px;
}

.timeline-data {
  padding-left: 8px;
}

.timeline-title {
  font-size: 15px;
  color: #364a63;
  margin-bottom: 0.75rem;
}

.timeline-des {
  color: #8094ae;
}

.timeline-des p {
  margin-bottom: 0.25rem;
}

@media (min-width: 576px) {
  .timeline + .timeline,
  .timeline-list + .timeline-head {
    margin-top: 2.5rem;
  }
}

@media (max-width: 413px) {
  .timeline-item {
    flex-wrap: wrap;
  }

  .timeline-data {
    padding: 0.75rem 0 0 24px;
  }
}

.nav-tabs svg {
  height: 1rem;
  color: $text-muted;
}

.nav-tabs .active svg {
  color: $secondary;
}

.badge-filters {
  background: rgba($gray-600, 0.8);
  display: inline-block;
  padding: 0.6rem 2rem 0.6rem 1rem;
  color: rgba($white, 0.7);
  margin-right: 0.5rem;
  position: relative;
  transition: color 0.3s ease-out;

  &:hover {
    color: $white;
    background: rgba($secondary, 0.8);
  }

  svg {
    height: 1rem;
    display: block;
    width: 2rem;
    font-size: 0.8rem;
    position: absolute;
    right: 0.2rem;
    top: 0.4rem;
  }
}

.large-icon svg {
  height: 5rem;
  width: 5rem;
}
