@import url('https://fonts.googleapis.com/css?family=Barlow:300,400,500,700&display=swap');
$text-font: 'Barlow';
$headings-font: 'Barlow';

// Color system

$white: #fff;
$gray-100: #f9f9fa;
$gray-200: #f2f5fa;
$gray-300: #e5e5e5;
$gray-400: #c4c4c4; // faq border
$gray-500: #979797; //text-muted
$gray-600: #5a6679; // text-color
$gray-700: #4f4f4f;
$gray-800: #343a40;
$gray-900: #022b69;
$black: #020306;

$text-color: $gray-600;

$blue: #161d3f;
$indigo: #6610f2 !default;
$purple: #5775fa;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #ffc214;
$yellow: #fff8b6;
$green: #2dca73;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$primary: $blue;
$secondary: $purple;
$success: $green;
$info: $cyan;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

$light-bg: #eff2ff;
$search-bg: #f9fdff;
$orange-bg: $yellow;
$green-bg: #caffbf;
$purple-bg: #d4dcff;

//
// Spacers
//
$spacer: 1rem;
$spacers: (
  6: (
    $spacer * 5,
  ),
  7: (
    $spacer * 8,
  ),
  8: (
    $spacer * 10,
  ),
  9: (
    $spacer * 15,
  ),
);

// Typography
//
// Font, line-height, and color for body text, headings, and more.
$body-color: $text-color;

// stylelint-disable value-keyword-case
$font-family-sans-serif: $text-font, -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
// stylelint-enable value-keyword-case

$font-weight-bold: 500;
$font-weight-bolder: 700;

// $font-weight-base: $font-weight-normal !default;
// $line-height-base: 1.5 !default;

$h1-font-size: 4rem;
$h2-font-size: 3rem;
$h3-font-size: 2.4rem;
$h4-font-size: 2rem;
$h5-font-size: 1.44rem;
$h6-font-size: 1.2rem;

// $headings-margin-bottom: $spacer / 2 !default;
$headings-font-family: $text-font, -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$headings-font-weight: 700;
// $headings-line-height: 1.2 !default;
$headings-color: $blue;

$lead-font-size: 1.3rem;
$lead-font-weight: 400;

$text-muted: $gray-500;
$faded-border: rgba(2, 3, 6, 0.125);

//Sidebar
$sidebar-width: 17rem;
$sidebar-bg: $white;

// Links
//
// Style anchor elements.

$link-color: $purple;
$link-decoration: none !default;
$link-hover-color: $black;
$link-hover-decoration: underline !default;

// Navbar
$navbar-nav-link-padding-x: 1.2rem;
$navbar-light-color: $blue;
$navbar-light-hover-color: $purple;
$navbar-light-active-color: $purple;
$navbar-light-toggler-icon-bg: none;
$navbar-light-toggler-border-color: transparent;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$label-margin-bottom: 0.25rem;

$input-btn-padding-y: 0.8rem;
$input-btn-padding-x: 1.2rem;
$input-btn-padding-y-sm: 0.5rem;
$input-btn-padding-x-sm: 0.75rem;

$input-height: auto;
$input-bg: rgba(232, 237, 255, 0.38);
$input-disabled-bg: $gray-100;

$input-color: $primary;
$input-border-color: rgba(87, 117, 250, 0.17);
$input-box-shadow: none;
$input-focus-bg: #f6f8ff;
$input-focus-border-color: $secondary;
$input-focus-color: lighten($primary, 10%);
$input-focus-box-shadow: none;
$input-placeholder-color: lighten($text-muted, 15%);
// $input-btn-font-family:       null !default;
// $input-btn-font-size:         $font-size-base !default;
// $input-btn-line-height:       $line-height-base !default;

// $input-btn-focus-width:       .2rem !default;
// $input-btn-focus-color:       rgba($component-active-bg, .25) !default;
// $input-btn-focus-box-shadow:  0 0 0 $input-btn-focus-width $input-btn-focus-color !default;

// $input-btn-padding-y-sm:      .25rem !default;
// $input-btn-padding-x-sm:      .5rem !default;
// $input-btn-font-size-sm:      $font-size-sm !default;
// $input-btn-line-height-sm:    $line-height-sm !default;

// $input-btn-padding-y-lg:      .5rem !default;
// $input-btn-padding-x-lg:      1rem !default;
// $input-btn-font-size-lg:      $font-size-lg !default;
// $input-btn-line-height-lg:    $line-height-lg !default;

// $input-btn-border-width:      $border-width !default;

// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

$btn-padding-y: $input-btn-padding-y;
$btn-padding-x: 2rem;

// // Allows for customizing button radius independently from global border radius
$btn-border-radius: 3px;
$btn-border-radius-lg: 6px;
$btn-border-radius-sm: 3px;

$btn-transition: color 0.3s ease-out, background-color 0.3s ease-out,
  border-color 0.3s ease-out, box-shadow 0.3s ease-out !default;

// Components
//
// Define common padding and border radius sizes and more.

$line-height-base: 1.7;
$line-height-lg: 1.8;
$line-height-sm: 1.6;

// Navs

// $nav-link-padding-y: 0.5rem !default;
// $nav-link-padding-x: 1rem !default;
// $nav-link-disabled-color: $gray-600 !default;

$nav-tabs-border-color: $input-border-color;
// $nav-tabs-border-width: $border-width !default;
// $nav-tabs-border-radius: $border-radius !default;
$nav-tabs-link-hover-border-color: transparent transparent $gray-400 transparent;
$nav-tabs-link-active-color: $secondary;
$nav-tabs-link-active-bg: $white;
$nav-tabs-link-active-border-color: transparent transparent $secondary
  transparent;

// $nav-pills-border-radius: $border-radius !default;
// $nav-pills-link-active-color: $component-active-color !default;
// $nav-pills-link-active-bg: $component-active-bg !default;

// $nav-divider-color: $gray-200 !default;
// $nav-divider-margin-y: $spacer / 2 !default;

$progress-height: 0.5rem;
