@import url('https://fonts.googleapis.com/css?family=Barlow:300,400,500,700&display=swap');
$text-font: 'Barlow';
$headings-font: 'Barlow';

// Color system

$white: #fff;
$gray-100: #fafafa;
$gray-200: #f2f5fa;
$gray-300: #e5e5e5;
$gray-400: #c4c4c4;
$gray-500: #979797;
$gray-600: #888; //text-muted
$gray-700: #51596c;
$gray-800: #343a40;
$gray-900: #022b69;
$black: #020306;

$blue: #161d3f;
$indigo: #6610f2 !default;
$purple: #5775fa;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc214;
$green: #2dca73;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$primary: $blue;
$secondary: $purple;
$success: $green;
$info: $cyan;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

$light-bg: #eff2ff;

//
// Spacers
//
$spacer: 1rem;
$spacers: (
  0: 0,
  1: (
    $spacer * 0.25,
  ),
  2: (
    $spacer * 0.5,
  ),
  3: $spacer,
  4: (
    $spacer * 1.5,
  ),
  5: (
    $spacer * 3,
  ),
  6: (
    $spacer * 5,
  ),
  7: (
    $spacer * 8,
  ),
  8: (
    $spacer * 10,
  ),
  9: (
    $spacer * 15,
  ),
);

// Typography
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif: $text-font, -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;
// stylelint-enable value-keyword-case

// $font-weight-lighter: lighter !default;
// $font-weight-light: 300 !default;
// $font-weight-normal: 400 !default;
// $font-weight-bold: 700 !default;
// $font-weight-bolder: bolder !default;

// $font-weight-base: $font-weight-normal !default;
// $line-height-base: 1.5 !default;

// $h1-font-size: $font-size-base * 2.5 !default;
// $h2-font-size: $font-size-base * 2 !default;
// $h3-font-size: $font-size-base * 1.75 !default;
// $h4-font-size: $font-size-base * 1.5 !default;
// $h5-font-size: $font-size-base * 1.25 !default;
// $h6-font-size: $font-size-base !default;

// Links
//
// Style anchor elements.

$link-color: $purple;
$link-decoration: none !default;
$link-hover-color: $black;
$link-hover-decoration: underline !default;

// Navbar
$navbar-nav-link-padding-x: 1.2rem;
$navbar-light-color: $blue;
$navbar-light-hover-color: $purple;
$navbar-light-active-color: $purple;
$navbar-light-toggler-icon-bg: none;
$navbar-light-toggler-border-color: transparent;
