@import url('https://fonts.googleapis.com/css?family=Barlow:300,400,500,700&display=swap');
$text-font: 'Barlow';
$headings-font: 'Barlow';

// Color system

$white: #fff;
$gray-100: #fafafa;
$gray-200: #f2f5fa;
$gray-300: #e5e5e5;
$gray-400: #c4c4c4; // faq border
$gray-500: #979797;
$gray-600: #5a6679; //text-muted
$gray-700: #51596c;
$gray-800: #343a40;
$gray-900: #022b69;
$black: #020306;

$blue: #161d3f;
$indigo: #6610f2 !default;
$purple: #5775fa;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc214;
$green: #2dca73;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$primary: $blue;
$secondary: $purple;
$success: $green;
$info: $cyan;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

$light-bg: #eff2ff;

//
// Spacers
//
$spacer: 1rem;
$spacers: (
  6: (
    $spacer * 5,
  ),
  7: (
    $spacer * 8,
  ),
  8: (
    $spacer * 10,
  ),
  9: (
    $spacer * 15,
  ),
);

// Typography
//
// Font, line-height, and color for body text, headings, and more.
$body-color: $gray-600;

// stylelint-disable value-keyword-case
$font-family-sans-serif: $text-font, -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
// stylelint-enable value-keyword-case

$font-weight-bold: 500;
$font-weight-bolder: 700;

// $font-weight-base: $font-weight-normal !default;
// $line-height-base: 1.5 !default;

$h1-font-size: 4rem;
$h2-font-size: 3rem;
$h3-font-size: 2.4rem;
$h4-font-size: 2rem;
$h5-font-size: 1.44rem;
$h6-font-size: 1.2rem;

// $headings-margin-bottom: $spacer / 2 !default;
$headings-font-family: $text-font, -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$headings-font-weight: 700;
// $headings-line-height: 1.2 !default;
$headings-color: $blue;

$lead-font-size: 1.3rem;
$lead-font-weight: 400;

// Links
//
// Style anchor elements.

$link-color: $purple;
$link-decoration: none !default;
$link-hover-color: $black;
$link-hover-decoration: underline !default;

// Navbar
$navbar-nav-link-padding-x: 1.2rem;
$navbar-light-color: $blue;
$navbar-light-hover-color: $purple;
$navbar-light-active-color: $purple;
$navbar-light-toggler-icon-bg: none;
$navbar-light-toggler-border-color: transparent;

// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

$btn-padding-y: 0.8rem;
$btn-padding-x: 2rem;

// // Allows for customizing button radius independently from global border radius
$btn-border-radius: 3px;
$btn-border-radius-lg: 6px;
$btn-border-radius-sm: 3px;

$btn-transition: color 0.3s ease-out, background-color 0.3s ease-out,
  border-color 0.3s ease-out, box-shadow 0.3s ease-out !default;

// Components
//
// Define common padding and border radius sizes and more.

$line-height-base: 1.8;
$line-height-lg: 1.8;
$line-height-sm: 1.8;
